@use '@styles/device-sizes';

.FormControlLabel {
  & span:last-child {
    @media screen and (max-width: device-sizes.$tablet) {
      margin-left: 0;
      text-align: center;
      font-size: 14px;
    }
  }
}
