@use '@styles/mixins';
@use '@styles/animations';

$blue-scrollbar: #1976d2;
$purple-scrollbar: #673ab7;

.list {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;

  &__option {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    @include animations.landing-from-right-side(4em, 0.4s);

    &_removing {
      @include animations.fade-in-right;
    }
  }
}

.scrollbar {
  &_blue {
    @include mixins.standard-scrollbar($blue-scrollbar);
  }
  &_purple {
    @include mixins.standard-scrollbar($purple-scrollbar);
  }
}
