@use '@styles/mixins';
@use '@styles/device-sizes';

%default-field {
  width: 20vw;
  @media only screen and (max-width: device-sizes.$tablet) {
    width: 50vw;
  }
}

%item-with-icon {
  column-gap: 0.3em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &:hover {
    @include mixins.cursor-effect();
  }
}

%default-box {
  display: inline-flex;
  background: white;
  flex-direction: column;
  padding: 0.9em;
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
