@mixin field-input($font-size, $width: 100%) {
  width: $width;
  &:input[type='text'] {
    font-size: $font-size;
  }
}

@mixin cursor-effect($opacity: 0.8, $transition: 0.3s) {
  cursor: pointer;
  transition: $transition;
  opacity: $opacity;
}

@mixin pseudo-elem-line($height: 1px, $color: #4c2b87) {
  height: $height;
  width: 100%;
  background: $color;
}

@mixin standard-scrollbar($thumb-color, $track-color: transparent) {
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $thumb-color;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: $track-color;
  }
  &::-webkit-scrollbar {
    width: 0.3em;
    background-color: transparent;
  }
}
